:root {
    --main-color: #2fa9e0;
    --dark-gray: #1F1C24;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .5s ease 0s;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.jc-space-b {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.dark-bg {
    background: var(--dark-gray);
}

.bg-radius {
    border-radius: 0 12px 12px;
}

.pos-r {
    position: relative;
}

.gray-bg {
    background: var(--dark-gray);
}

.white-bg {
    background: var(--white);
}

.text-white {
    color: var(--white) !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    border-bottom: 1px solid #CFD2D9;
    margin-bottom: 20px;
}

.top-head ul {
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
}

.top-head ul li a {
    color: #939393;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 28px;
}

.top-head ul li:first-child {
    padding-left: 0;
}

.top-head ul li a:hover {
    color: var(--dark-gray);
}

.top-head ul li {
    padding: 0 10px;
}

.main-head {
    padding: 10px 0;
}

.goto-bt {
    border: 1px solid rgba(21, 25, 28, 0.2);
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    color: var(--dark-gray);
    font-weight: 600;
    border-radius: 6px;
}

.goto-bt img {
    margin-left: 8px;
    vertical-align: bottom;
}

.cover-story {
    position: relative;
}

.cover-story figure::before {
    content: "";
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 8px;
}

.cover-story figure img {
    border-radius: 8px;
    display: block;
}

.cover-title {
    position: absolute;
    top: -1px;
    left: -1px;
}

.cover-title:after {
    content: "";
    background: #ffffff;
    width: 20px;
    height: 100%;
    transform: skewX(-35deg);
    position: absolute;
    right: -11px;
    top: 0px;
}

.cover-title h2 {
    text-transform: uppercase;
    color: var(--dark-gray);
    font-weight: 800;
    padding: 3px 10px 3px 0;
}

.story-des {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 16px;
}

.story-des h1 a {
    font-weight: 700;
    color: var(--white);
}

.story-des h1 a:hover {
    color: var(--main-color);
}

.viewmore {
    position: absolute;
    bottom: -6px;
    right: -9px;
    border: 7px solid #f5f5f6;
    border-radius: 100px;
    box-shadow: -1px -1px 0px #e5e5e5;
}

.viewmore-arrow {
    background: var(--dark-gray);
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: var(--white);
    border-radius: 100px;
    text-align: center;
    transform: rotate(-45deg);
}

.story-des .viewmore-arrow {
    position: absolute;
    right: 16px;
    top: 19px;
    background: transparent;
    border: 1px solid var(--white);
}

.viewmore-arrow:hover {
    background: var(--main-color);
}

.articles-carousel .swiper-wrapper {
    padding-bottom: 30px;
}

.articles-carousel .swiper-slide {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    box-shadow: 6px 5px 10px #f5f5f6;
}

.articles-carousel .swiper-slide img {
    width: 100%;
}

.articles-carousel .swiper-slide p a {
    color: var(--dark-gray);
}

.articles-carousel .swiper-slide p a:hover {
    color: var(--main-color);
}

.swiper .swiper-pagination-bullets {
    bottom: 0px;
}

.swiper .swiper-pagination-bullets span {
    width: 4px;
    height: 4px;
    background: var(--dark-gray);
    opacity: 0.3;
}

.swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
    width: 36px;
    border-radius: 4px;
    opacity: 1;
}

.main-title {
    position: absolute;
    top: -31px;
    left: 0;
    border-radius: 10px 0 0;
}

.main-title:after {
    content: "";
    background: #1f1c24;
    width: 30px;
    height: 100%;
    transform: skewX(32deg);
    position: absolute;
    right: -17px;
    top: 0px;
}

.main-title h2 {
    color: var(--white);
    text-transform: uppercase;
}

.main-title.white-bg:after {
    background: var(--white);
}

.main-title.white-bg h2 {
    color: var(--dark-gray);
}

.chart-text {
    color: var(--dark-gray);
}

@media screen and (min-width:320px) {
    img {
        max-width: 100%;
    }

    .mt-70 {
        margin-top: 70px;
    }

    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .main-title {
        padding: 10px 15px 0 20px;
    }

    .main-title h2 {
        font-size: 16px;
        font-weight: 800;
    }

    .cover-story {
        margin-bottom: 20px;
    }

    .cover-title {
        background: var(--white);
    }

    .cover-title h2 {
        font-size: 16px;
    }

    .story-des h1 {
        line-height: 20px;
        padding-right: 40px;
    }

    .story-des h1 a {
        font-size: 16px;
    }

    .articles-carousel .swiper-slide p {
        padding: 10px 32px 10px 10px;
        font-size: 14px;
        line-height: 18px;
    }

    .report-card,
    .ranking-card,
    .edtech-rankings-card {
        padding-bottom: 70px;
    }

    .chart-data {
        padding-top: 20px;
    }

    .chart-text {
        font-size: 14px;
        line-height: 20px;
        color: var(--dark-gray);
        margin-bottom: 10px;
    }
}