:root {
    --main-color: #2fa9e0;
    --dark-gray: #1F1C24;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .5s ease 0s;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.jc-space-b {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    border-bottom: 1px solid #CFD2D9;
    margin-bottom: 20px;
}

.top-head ul {
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
}

.top-head ul li a {
    color: #939393;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    line-height: 28px;
}

.top-head ul li:first-child {
    padding-left: 0;
}

.top-head ul li a:hover {
    color: var(--dark-gray);
}

.top-head ul li {
    padding: 0 10px;
}

.main-head {
    padding: 10px 0;
}

.goto-bt {
    border: 1px solid rgba(21, 25, 28, 0.2);
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    color: var(--dark-gray);
    font-weight: 600;
    border-radius: 6px;
}

.goto-bt img {
    margin-left: 8px;
    vertical-align: bottom;
}

.cover-story {
    position: relative;
}

.cover-story figure::before {
    content: "";
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 8px;
}

.cover-story figure img {
    border-radius: 8px;
    display: block;
}

.cover-title {
    position: absolute;
    top: 0;
    left: 0;
}

.cover-title:after {
    content: "";
    background: #ffffff;
    width: 20px;
    height: 100%;
    transform: skewX(-35deg);
    position: absolute;
    right: -11px;
    top: 0px;
}

.cover-title h2 {
    text-transform: uppercase;
    color: var(--dark-gray);
    font-weight: 800;
    padding: 3px 10px 3px 0;
}

.story-des {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px 16px;
}

.story-des h1 a {
    font-weight: 700;
    color: var(--white);
}

@media screen and (min-width:320px) {
    img {
        max-width: 100%;
    }

    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .cover-title {
        background: var(--white);
    }

    .cover-title h2 {
        font-size: 16px;
    }

    .story-des h1 {
        line-height: 20px;
    }

    .story-des h1 a {
        font-size: 16px;
    }
}